worflow asistente botti.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e7cdf421-b3fd-498a-ba9f-63abf9d50fc5",
      "name": "Listen for incoming events1",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -880,
        400
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "XVAINGlEBDLJLD7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events1').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "e995611b-dec6-4f3c-8cda-d52e89ae7c04",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        360,
        320
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "XVAINGlEBDLJLD7p",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "santiago.mejia6@utp.edu.co",
          "mode": "list",
          "cachedResultName": "santiago.mejia6@utp.edu.co"
        },
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "items(summary, start(dateTime))"
        }
      },
      "id": "a10c6024-0491-480f-8403-22b42798fe4e",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        300,
        740
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7KhfY1PaSM8C6zJe",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "b697b604-7b90-48f0-9051-5196d1918d62",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        180,
        740
      ],
      "webhookId": "c6820f0c-6773-4494-875e-f46f5b8088aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "g8DW47cHdUOpF7F3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "17fdb8ed-1cc7-4574-8ea2-6b5f607eeadb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -180,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "uq9doWAxy3B4nfo0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "id": "651aad35-a8e8-46b0-93ac-7bff8ac35f50",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -540,
        400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events1').item.json.message.voice.file_id}}"
      },
      "id": "ac5bcef9-e7b6-4cf2-942b-b4d5654b9b85",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -320,
        240
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "XVAINGlEBDLJLD7p",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3bb7431a-4418-4983-8545-4e3128116134",
          "mode": "list",
          "cachedResultName": "Database",
          "cachedResultUrl": "https://www.notion.so/3bb7431a4418498385454e3128116134"
        },
        "options": {}
      },
      "id": "59fa6bf8-dc89-4d00-8d7d-fcc2be8d2779",
      "name": "Notion",
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        80,
        740
      ],
      "credentials": {
        "notionApi": {
          "id": "w9FMSL2db8NpWTsu",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfe1c936-4403-4154-a809-1ed5919f1d36",
              "name": "text",
              "value": "={{ $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e89c5dda-d952-425b-b8ef-ee214b2e5b3b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        660
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "9ceb40be-ed08-426e-ba9c-54f8e0278ecd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        480
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "8ce32a55-85f9-48e7-97cc-bda8b7c728dd",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -160,
        220
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "uq9doWAxy3B4nfo0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $('Listen for incoming events1').first().json.message.from.id }}|"
      },
      "id": "749498f2-7084-4de6-a90d-6f5734436c53",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -40,
        740
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "santiago.mejia6@utp.edu.co",
          "mode": "list",
          "cachedResultName": "santiago.mejia6@utp.edu.co"
        },
        "start": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
        "end": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
        "additionalFields": {}
      },
      "id": "21ede36f-41f5-47be-b97a-084c07cb80fe",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        420,
        740
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7KhfY1PaSM8C6zJe",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b04fedaa-0993-4439-a46b-004548d4fb2c",
      "name": "configuarcion del prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        -720,
        400
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\nsi esto esta disponible usalo como parte de tu contexto, pregunta si desean que use solo este o todo junto:\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- Use baserow tool to answer questions about tasks\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away\n-everything what you need to know is located in notion if the user ask somethin like \"whats my name\" you would search in notion and tell the user his name\n-si te piden mas contexto no digas todo el contexto que tienes debes de responder ok lo actualice y tomas el contexto"
        }
      },
      "id": "40228833-fd25-4dc0-8bdf-dd4aabe3ac96",
      "name": "botti1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -20,
        420
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "ec74a313-3d88-4801-887f-df0390e24aad",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        660
      ],
      "webhookId": "4f1bd927-4a4e-40b2-8252-86953eff5ccf"
    }
  ],
  "pinData": {},
  "connections": {
    "Listen for incoming events1": {
      "main": [
        [
          {
            "node": "configuarcion del prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "botti1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "botti1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "botti1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "botti1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "ai_tool": [
        [
          {
            "node": "botti1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "botti1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "botti1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "botti1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "botti1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "configuarcion del prompt": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "botti1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cb92ecc-7f1b-4410-844d-6c637dc5f4a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "180e059c4b1a3e9df54ef6d2fde71c0a859be3bc618a10504e712ae468aebc1e"
  },
  "id": "5tov4rO2AXJA5Q3u",
  "tags": []
}